@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is my first project in Docker </h1>
    <p>Visit my Email <a href="https://docs.microsoft.com/aspnet/core">moneeralmatary2020@gmail.com</a>.</p>
</div>
